body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2 {
    text-align: center;
}
form {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}
label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    margin-top: 10px;
}
input, select, textarea {
    width: calc(100% - 220px);
    margin-top: 10px;
    padding: 5px;
}
.full-width {
    width: calc(100% - 40px);
}
.section {
    display: none;
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top: 20px;
}
/* .button-group {
    text-align: center;
    margin-top: 20px;
} */

.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.button-group button {
    padding: 8px 16px;
    font-size: 14px;
    background-color:  #d11554;
    border: 1px solid #c70a49;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.button-group button[type="submit"] {
    border-color: #c70a49;
    background-color: #d11554;
    color: white;
}


.button-group button:hover {
    opacity: 0.8;
}
.logo {
    width: 200px; /* Define el ancho deseado */
    height: auto;/* Esto mantiene la proporción de la imagen */
    /* float: left;
    margin-right: 20px;  */
}
.container {
    max-width: 800px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
    background-color: #f1e8ed; /* Cambia el color de fondo del contenedor */
    border-radius: 10px; /* Agrega bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al contenedor */
}
