{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <title>Formulario de Retorno de Equipos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'iconos/icon.png' %}">
</head>

<body onload="toggleFields()">
    <div class="container">

        <img src="{% static 'iconos/americas.png' %}" alt="Descripción de la imagen" class="logo">
        <h1>Formulario de Retorno de Equipos</h1>
        <h2>Acta de Responsabilidad de Equipos de Trabajo</h2>
        <form>
            <label for="numeroCaso">Número de Caso:</label>
            <input type="text" id="numeroCaso" name="numeroCaso"><br>

            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres"><br>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos"><br>

            <label for="campana">Campaña:</label>
            <input type="text" id="campana" name="campana"><br>

            <label for="correoPersonal">Correo Personal:</label>
            <input type="email" id="correoPersonal" name="correoPersonal"><br>

            <label for="correoJefe">Correo del Jefe:</label>
            <input type="email" id="correoJefe" name="correoJefe"><br>

            <label for="dispositivo">Dispositivo:</label>
            <select id="dispositivo" name="dispositivo" onchange="toggleFields()">
                <option value="">Seleccione</option>
                <option value="Portatil">Portátil</option>
                <option value="Escritorio">Escritorio</option>
            </select><br>

                <div id="sectionPortatil" class="section">
                    <h2>Detalles del Portátil</h2>
                    <label for="serialDispositivo">Serial del Dispositivo:</label>
                    <input type="text" id="serialDispositivo" name="serialDispositivo" disabled><br>

                    <label for="activoDispositivo">Activo del Dispositivo:</label>
                    <input type="text" id="activoDispositivo" name="activoDispositivo" disabled><br>

                    <label for="estadoDispositivo">Estado del Dispositivo:</label>
                    <select id="estadoDispositivo" name="estadoDispositivo" disabled>
                        <option value="Bueno">Bueno</option>
                        <option value="Dañado">Dañado</option>
                        <option value="Dado de baja">Dado de baja</option>
                    </select><br>

                    <label for="diadema">Diadema:</label>
                    <select id="diadema" name="diadema" onchange="toggleFields()">
                        <option value="No">No</option>
                        <option value="Si">Sí</option>
                    </select><br>

                    <label for="serialDiadema">Serial de la Diadema:</label>
                    <input type="text" id="serialDiadema" name="serialDiadema" disabled><br>

                    <label for="observaciones">Observaciones:</label>
                    <textarea id="observaciones" name="observaciones" class="full-width"></textarea><br>

                </div>

                <div id="sectionEscritorio" class="section">
                    <h2>Detalles del Escritorio</h2>
                    <label for="raton">Ratón:</label>
                    <select id="raton" name="raton" onchange="toggleFields()">
                        <option value="No">No</option>
                        <option value="Si">Sí</option>
                    </select><br>

                    <label for="estadoRaton">Estado del Ratón:</label>
                    <select id="estadoRaton" name="estadoRaton" disabled>
                        <option value="Bueno">Bueno</option>
                        <option value="Dañado">Dañado</option>
                        <option value="Dado de baja">Dado de baja</option>
                    </select><br>

                    <label for="teclado">Teclado:</label>
                    <select id="teclado" name="teclado" onchange="toggleFields()">
                        <option value="No">No</option>
                        <option value="Si">Sí</option>
                    </select><br>

                    <label for="camara">Cámara:</label>
                    <select id="camara" name="camara">
                        <option value="No">No</option>
                        <option value="Si">Sí</option>
                    </select><br>

                    <label for="estadoTeclado">Estado del Teclado:</label>
                    <select id="estadoTeclado" name="estadoTeclado" disabled>
                        <option value="Bueno">Bueno</option>
                        <option value="Dañado">Dañado</option>
                        <option value="Dado de baja">Dado de baja</option>
                    </select><br>

                    <label for="serialMonitor">Serial del Monitor:</label>
                    <input type="text" id="serialMonitor" name="serialMonitor" disabled><br>

                    <label for="activoMonitor">Activo del Monitor:</label>
                    <input type="text" id="activoMonitor" name="activoMonitor" disabled><br>

                    <label for="estadoMonitor">Estado del Monitor:</label>
                    <select id="estadoMonitor" name="estadoMonitor" disabled>
                        <option value="Bueno">Bueno</option>
                        <option value="Dañado">Dañado</option>
                        <option value="Dado de baja">Dado de baja</option>
                    </select><br>

                    <label for="segundoMonitor">¿Segundo Monitor?:</label>
                    <select id="segundoMonitor" name="segundoMonitor" onchange="toggleFields()">
                        <option value="No">No</option>
                        <option value="Si">Sí</option>
                    </select><br>


                    <label for="serialMonitor2">Serial del Segundo Monitor:</label>
                    <input type="text" id="serialMonitor2" name="serialMonitor2" disabled><br>

                    <label for="activoMonitor2">Activo del Segundo Monitor:</label>
                    <input type="text" id="activoMonitor2" name="activoMonitor2" disabled><br>
                    <label for="tieneDiadema">¿Diadema?:</label>
                    <select id="tieneDiadema" name="tieneDiadema" onchange="toggleFields()">
                        <option value="No">No</option>
                        <option value="Si">Sí</option>
                    </select><br>

                    <label for="Diademaserial">Serial de la Diadema:</label>
                    <input type="text" id="Diademaserial" name="Diademaserial" disabled><br>

                    <label for="observaciones">Observaciones:</label>
                    <textarea id="observaciones" name="observaciones" class="full-width"></textarea><br>
                </div>
            <label for="firma">Firma:</label>
            <input type="file" id="firma" name="firma" accept="image/*"><br>

            <div class="button-group">
                <button type="submit">Guardar</button>
                <button type="reset">Limpiar</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.button-group button[type="submit"]').addEventListener('click', function(e) {
                e.preventDefault(); // Previene el envío del formulario
                generarPDF();
            });
        });
        
        function generarPDF() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();
                
            // Captura los datos del formulario
            const numeroCaso = document.getElementById('numeroCaso').value;
            const nombres = document.getElementById('nombres').value;
            const apellidos = document.getElementById('apellidos').value;
            const campana = document.getElementById('campana').value;
            const correoPersonal = document.getElementById('correoPersonal').value;
            const correoJefe = document.getElementById('correoJefe').value;
            const dispositivo = document.getElementById('dispositivo').value;
            
            // Comienza a añadir contenido al PDF
            doc.setFontSize(16);
            doc.text('Formulario de Retorno de Equipos', 10, 10);
            doc.setFontSize(12);
            doc.text(`Número de Caso: ${numeroCaso}`, 10, 20);
            doc.text(`Nombres: ${nombres}`, 10, 30);
            doc.text(`Apellidos: ${apellidos}`, 10, 40);
            doc.text(`Campaña: ${campana}`, 10, 50);
            doc.text(`Correo Personal: ${correoPersonal}`, 10, 60);
            doc.text(`Correo del Jefe: ${correoJefe}`, 10, 70);
            doc.text(`Dispositivo: ${dispositivo}`, 10, 80);
            
            // Añade más campos según el tipo de dispositivo
            if (dispositivo === 'Portatil') {
                const serialDispositivo = document.getElementById('serialDispositivo').value;
                const activoDispositivo = document.getElementById('activoDispositivo').value;
                const estadoDispositivo = document.getElementById('estadoDispositivo').value;
                const diadema = document.getElementById('diadema').value;
                const serialDiadema = document.getElementById('serialDiadema').value;
                const observaciones = document.getElementById('observaciones').value;
            
                doc.text(`Serial del Dispositivo: ${serialDispositivo}`, 10, 90);
                doc.text(`Activo del Dispositivo: ${activoDispositivo}`, 10, 100);
                doc.text(`Estado del Dispositivo: ${estadoDispositivo}`, 10, 110);
                doc.text(`Diadema: ${diadema}`, 10, 120);
                doc.text(`Serial de la Diadema: ${serialDiadema}`, 10, 130);
                doc.text(`Observaciones: ${observaciones}`, 10, 140);
            } else if (dispositivo === 'Escritorio') {
                const raton = document.getElementById('raton').value;
                const estadoRaton = document.getElementById('estadoRaton').value;
                const teclado = document.getElementById('teclado').value;
                const camara = document.getElementById('camara').value;
                const estadoTeclado = document.getElementById('estadoTeclado').value;
                const serialMonitor = document.getElementById('serialMonitor').value;
                const activoMonitor = document.getElementById('activoMonitor').value;
                const estadoMonitor = document.getElementById('estadoMonitor').value;
                const segundoMonitor = document.getElementById('segundoMonitor').value;
                const serialMonitor2 = document.getElementById('serialMonitor2').value;
                const activoMonitor2 = document.getElementById('activoMonitor2').value;
                const tieneDiadema = document.getElementById('tieneDiadema').value;
                const Diademaserial = document.getElementById('Diademaserial').value;
                const observaciones = document.getElementById('observaciones').value;
        
                doc.text(`Ratón: ${raton}`, 10, 90);
                doc.text(`Estado del Ratón: ${estadoRaton}`, 10, 100);
                doc.text(`Teclado: ${teclado}`, 10, 110);
                doc.text(`Cámara: ${camara}`, 10, 120);
                doc.text(`Estado del Teclado: ${estadoTeclado}`, 10, 130);
                doc.text(`Serial del Monitor: ${serialMonitor}`, 10, 140);
                doc.text(`Activo del Monitor: ${activoMonitor}`, 10, 150);
                doc.text(`Estado del Monitor: ${estadoMonitor}`, 10, 160);
                doc.text(`Segundo Monitor: ${segundoMonitor}`, 10, 170);
                doc.text(`Serial del Segundo Monitor: ${serialMonitor2}`, 10, 180);
                doc.text(`Activo del Segundo Monitor: ${activoMonitor2}`, 10, 190);
                doc.text(`¿Diadema?: ${tieneDiadema}`, 10, 200);
                doc.text(`Serial de la Diadema: ${Diademaserial}`, 10, 210);
                doc.text(`Observaciones: ${observaciones}`, 10, 220);
            }
            
            doc.save('formulario_retorno_equipos.pdf');
        }
        
        function toggleFields() {
            const dispositivo = document.getElementById("dispositivo").value;
            const diadema = document.getElementById("diadema").value;
            const raton = document.getElementById("raton").value;
            const teclado = document.getElementById("teclado").value;
            const segundoMonitor = document.getElementById("segundoMonitor").value;
        
            const isLaptop = dispositivo === "Portatil";
            const isDesktop = dispositivo === "Escritorio";
        
            var tieneDiademaValue = document.getElementById('tieneDiadema').value;
            var serialDiademaInput = document.getElementById('Diademaserial');
        
            if (tieneDiademaValue === 'Si') {
                serialDiademaInput.removeAttribute('disabled');
            } else {
                serialDiademaInput.setAttribute('disabled', 'disabled');
            }
        
            // Toggle sections visibility
            document.getElementById("sectionPortatil").style.display = isLaptop ? 'block' : 'none';
            document.getElementById("sectionEscritorio").style.display = isDesktop ? 'block' : 'none';
        
            // Toggle diadema fields
            document.getElementById("serialDiadema").disabled = diadema !== "Si";
        
            // Toggle segundo monitor fields
            document.getElementById("serialMonitor2").disabled = !(isDesktop && segundoMonitor === "Si");
            document.getElementById("activoMonitor2").disabled = !(isDesktop && segundoMonitor === "Si");
        
            // Toggle fields based on dispositivo type
            document.getElementById("serialDispositivo").disabled = dispositivo === "";
            document.getElementById("activoDispositivo").disabled = dispositivo === "";
            document.getElementById("estadoDispositivo").disabled = dispositivo === "";
            document.getElementById("raton").disabled = isLaptop;
            document.getElementById("estadoRaton").disabled = isLaptop || raton === "No";
            document.getElementById("teclado").disabled = isLaptop;
            document.getElementById("estadoTeclado").disabled = isLaptop || teclado === "No";
            document.getElementById("serialMonitor").disabled = isLaptop;
            document.getElementById("activoMonitor").disabled = isLaptop;
            document.getElementById("estadoMonitor").disabled = isLaptop;
            document.getElementById("camara").disabled = isLaptop;
        }
        </script>

</body>
</html>