{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo Maxel y Carboncito Los Tonos del Mañana</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      
    </style>
</head>
<body>
    <header>
        <h1>Equipo Maxel y Carboncito Los Tonos del Mañana</h1>
    </header>
    <div class="container">
        <form>
            <div class="form-column">
                <div class="form-row">
                    <div class="form-group">
                        <label for="raton">Ratón:</label>
                        <input type="text" id="raton" name="raton">
                    </div>
                    <div class="form-group">
                        <label for="diadema">Diadema:</label>
                        <input type="text" id="diadema" name="diadema">
                    </div>
                    <div class="form-group">
                        <label for="teclado">Teclado:</label>
                        <input type="text" id="teclado" name="teclado">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="estado-raton">Estado de Ratón:</label>
                        <select id="estado-raton" name="estado-raton">
                            <option value="bueno">Bueno</option>
                            <option value="danado-leve">Dañado Leve</option>
                            <option value="danado-grave">Dañado Grave</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estado-diadema">Estado de la Diadema:</label>
                        <select id="estado-diadema" name="estado-diadema">
                            <option value="bueno">Bueno</option>
                            <option value="danado-leve">Dañado Leve</option>
                            <option value="danado-grave">Dañado Grave</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estado-teclado">Estado del Teclado:</label>
                        <select id="estado-teclado" name="estado-teclado">
                            <option value="bueno">Bueno</option>
                            <option value="danado-leve">Dañado Leve</option>
                            <option value="danado-grave">Dañado Grave</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-column">
                <div class="form-row">
                    <div class="form-group">
                        <label for="docking">Docking:</label>
                        <input type="text" id="docking" name="docking">
                    </div>
                    <div class="form-group">
                        <label for="estado-docking">Estado del Docking:</label>
                        <select id="estado-docking" name="estado-docking">
                            <option value="bueno">Bueno</option>
                            <option value="danado-leve">Dañado Leve</option>
                            <option value="danado-grave">Dañado Grave</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="serial-docking">Serial del Docking:</label>
                        <input type="text" id="serial-docking" name="serial-docking">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="monitor">Monitor:</label>
                        <input type="text" id="monitor" name="monitor">
                    </div>
                    <div class="form-group">
                        <label for="estado-monitor">Estado del Monitor:</label>
                        <select id="estado-monitor" name="estado-monitor">
                            <option value="bueno">Bueno</option>
                            <option value="danado-leve">Dañado Leve</option>
                            <option value="danado-grave">Dañado Grave</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="dispositivo">Dispositivo:</label>
                        <select id="dispositivo" name="dispositivo">
                            <option value="portatil">Portátil</option>
                            <option value="escritorio">Escritorio</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="campos-portatil" class="form-row" style="display: none;">
                <div class="form-group">
                    <label for="serial-diadema">Serial del monitor:</label>
                    <input type="text" id="serial-monitor" name="serial-monitor">

                    <label for="serial-diadema">activo del monitor:</label>
                    <input type="text" id="activo-monitor" name="activo-monitor">
                </div>

                   
            </div>
            <div id="campos-escritorio" class="form-row" style="display: none;">
                <label for="serial-diadema">Serial de la Diadema:</label>
                <input type="text" id="serial-diadema" name="serial-diadema">

                <label for="serial-diadema">Serial del monitor:</label>
                <input type="text" id="serial-monitor" name="serial-monitor">

                <label for="serial-diadema">activo del monitor:</label>
                <input type="text" id="activo-monitor" name="activo-monitor">
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="observaciones">Observaciones:</label>
                    <textarea id="observaciones" name="observaciones" rows="4"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="checkbox" id="cerrar-caso" name="cerrar-caso">
                    <label for="cerrar-caso">Cerrar caso</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="exportar-pdf" name="exportar-pdf">
                    <label for="exportar-pdf">Exportar como PDF</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="firma">Firma:</label>
                    <input type="file" id="firma" name="firma" accept="image/*">
                </div>
                <button type="submit">Guardar</button>
            </div>
        </form>
        <p>APLICAN TÉRMINOS Y CONDICIONES</p>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
